:host {
  position: relative;

  mat-card {
    width: 500px;

    img {
      width: 100%;
    }

    mat-card-header, mat-card-actions {
      padding: 1rem;
    }

    a {
      display: inline-flex;
      align-items: center;
    }

    mat-card-content {
      position: relative;
      height: 400px;
      overflow: hidden;
      cursor: pointer;
    }

    [mat-card-image] {
      object-fit: cover;
    }
  }
}
